@model SMS_TYNB.ViewModel.BaseFormViewModel<SMS_TYNB.Models.Master.WpNhom>

<div class="modal-dialog modal-dialog-centered modal-lg">
	<div class="modal-content">
		<div class="modal-header">
			<h1 class="modal-title fs-5" id="data-form-header"></h1>
			<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		</div>
		<div class="modal-body">
			<!-- Form thêm/sửa -->
			@using (Html.BeginForm("", "", FormMethod.Post, new { id = "groupForm" }))
			{
				@Html.AntiForgeryToken()
				@Html.HiddenFor(model => model.Data.IdNhom, new { id = "IdNhom" })
				<div class="row">
					<div class="col-md-6">
						<div class="form-group mb-3">
							<label for="TenNhom" class="form-label">Tên nhóm <span class="text-danger">*</span></label>
							@Html.EditorFor(model => model.Data.TenNhom, 
								new { 
									htmlAttributes = new { 
										@class = "form-control", 
										@name = "Data.TenNhom",
										@id = "TenNhom",
										@placeholder = "Nhập tên nhóm"
									} 
								}
							)
							@Html.ValidationMessageFor(model => model.Data.TenNhom, "", new { @class = "text-danger" })
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group mb-3">
							<label for="IdNhomCha" class="form-label">Nhóm cha</label>
							@Html.DropDownListFor(
								model => model.Data.IdNhomCha,
								Model.SelectLists["wpNhomSelectList"],
								"--Chọn nhóm cha--",
								htmlAttributes: new { @class = "form-select", @name = "Data.IdNhomCha", @id = "IdNhomCha" }
							)
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group mb-3">
							<label for="TrangThai" class="form-label">Trạng thái <span class="text-danger">*</span></label>
							@Html.DropDownListFor(
								model => model.Data.TrangThai,
								Model.SelectLists["wpTrangThaiSelectList"],
								htmlAttributes: new { @class = "form-select", @name = "Data.TrangThai", @id = "TrangThai" }
							)
						</div>
					</div>
				</div>
			}
		</div>
		<div class="modal-footer">
		    <button type="button" class="btn btn-primary" id="btnSave">Lưu</button>
			<button type="button" class="btn btn-secondary" id="btnClose" data-bs-dismiss="modal">Đóng</button>
		</div>
	</div>
</div>
