@model SMS_TYNB.ViewModel.BaseFormViewModel<SMS_TYNB.Models.Master.WpNhom>

<div class="card-body">
	<!-- Form thêm/sửa -->
	@using (Html.BeginForm("", "", FormMethod.Post, new { id = "groupForm" }))
	{
		@Html.AntiForgeryToken()
		@Html.HiddenFor(model => model.Data.IdNhom, new { id = "IdNhom" })
		<div class="row">
			<div class="col-md-6">
				<div class="form-group mb-3">
					<label for="TenNhom" class="form-label">Tên nhóm <span class="text-danger">*</span></label>
					@Html.EditorFor(model => model.Data.TenNhom, 
						new { 
							htmlAttributes = new { 
								@class = "form-control", 
								@name = "Data.TenNhom",
								@id = "TenNhom",
                                @placeholder = "Nhập tên nhóm",
								@disabled = "disabled"
							} 
                        }
                    )
					@Html.ValidationMessageFor(model => model.Data.TenNhom, "", new { @class = "text-danger" })
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group mb-3">
					<label for="IdNhomCha" class="form-label">Nhóm cha</label>
					@Html.DropDownListFor(
						model => model.Data.IdNhomCha,
						Model.SelectLists["wpNhomSelectList"],
						"--Chọn nhóm cha--",
						htmlAttributes: new { @class = "form-select", @name = "Data.IdNhomCha", @id = "IdNhomCha", @disabled = "disabled", data_val = "false" }
					)
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="form-group mb-3">
					<label for="TrangThai" class="form-label">Trạng thái <span class="text-danger">*</span></label>
					@Html.DropDownListFor(
						model => model.Data.TrangThai,
						Model.SelectLists["wpTrangThaiSelectList"],
						htmlAttributes: new { @class = "form-select", @name = "Data.TrangThai", @id = "TrangThai", @disabled = "disabled" }
					)
				</div>
			</div>
		</div>

		<!-- Buttons -->
		<div class="row mt-3">
			<div class="col-12">
				<div class="btn-group me-3" role="group">
					<button type="button" id="btnAdd" class="btn btn-primary" onclick="beforeAdd()">Thêm</button>
					<button type="button" id="btnEdit" class="btn btn-primary" onclick="startEdit()" disabled>Sửa</button>
				</div>
				<div class="btn-group me-3" role="group">
					<button type="button" id="btnSave" class="btn btn-primary" onclick="submitForm()" style="display: none;">Lưu</button>
					<button type="button" id="btnCancel" class="btn btn-secondary" onclick="cancelEdit()" style="display: none;">Hủy</button>
				</div>
				<div class="btn-group" role="group">
					<a class="btn btn-primary" type="button" asp-area="" asp-controller="Contact" asp-action="Index">Thêm liên hệ</a>
				</div>
			</div>
		</div>
	}
</div>