@model VnptSmsBrandName.ViewModel.BaseFormViewModel<VnptSmsBrandName.Models.Master.SmsConfig>

<div class="modal-dialog modal-dialog-centered modal-lg">
	<div class="modal-content">
		<div class="modal-header">
			<h1 class="modal-title fs-5" id="data-form-header"></h1>
			<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		</div>
		<div class="modal-body">
			<!-- Form thêm/sửa -->
			@using (Html.BeginForm("", "", FormMethod.Post, new { id = "smsConfigForm" }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.Data.Id, new { id = "Id" })
                @Html.HiddenFor(model => model.Data.OrganizationId, new { id = "OrganizationId" })
                @Html.HiddenFor(model => model.Data.CreatedBy, new { id = "CreatedBy" })
                @Html.HiddenFor(model => model.Data.CreatedAt, new { id = "CreatedAt" })
        
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group mb-3">
                            <label for="LabelId" class="form-label">LabelId <span class="text-danger">*</span></label>
                            @Html.EditorFor(model => model.Data.LabelId, 
                                new { 
                                    htmlAttributes = new { 
                                        @class = "form-control",
                                        @name = "Data.LabelId",
                                        @id = "LabelId",
                                    } 
                                }
                            )
                            @Html.ValidationMessageFor(model => model.Data.LabelId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group mb-3">
                            <label for="ContractId" class="form-label">ContractId <span class="text-danger">*</span></label>
                            @Html.EditorFor(model => model.Data.ContractId, 
                                new { 
                                    htmlAttributes = new { 
                                        @class = "form-control",
                                        @name = "Data.ContractId",
                                        @id = "ContractId",
                                    } 
                                }
                            )
                            @Html.ValidationMessageFor(model => model.Data.ContractId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
        
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group mb-3">
                            <label for="TemplateId" class="form-label">TemplateId <span class="text-danger">*</span></label>
                            @Html.EditorFor(model => model.Data.TemplateId, 
                                new { 
                                    htmlAttributes = new { 
                                        @class = "form-control",
                                        @name = "Data.TemplateId",
                                        @id = "TemplateId",
                                    } 
                                }
                            )
                            @Html.ValidationMessageFor(model => model.Data.TemplateId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group mb-3">
                            <label for="IsTelCoSub" class="form-label">IsTelCoSub <span class="text-danger">*</span></label>
                            @Html.EditorFor(model => model.Data.IsTelCoSub, 
                                new { 
                                    htmlAttributes = new { 
                                        @class = "form-control",
                                        @name = "Data.IsTelCoSub",
                                        @id = "IsTelCoSub",
                                    } 
                                }
                            )
                            @Html.ValidationMessageFor(model => model.Data.IsTelCoSub, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group mb-3">
                            <label for="AgentId" class="form-label">AgentId <span class="text-danger">*</span></label>
                            @Html.EditorFor(model => model.Data.AgentId, 
                                new { 
                                    htmlAttributes = new { 
                                        @class = "form-control",
                                        @name = "Data.AgentId",
                                        @id = "AgentId",
                                    } 
                                }
                            )
                            @Html.ValidationMessageFor(model => model.Data.AgentId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group mb-3">
                            <label for="ApiUser" class="form-label">ApiUser <span class="text-danger">*</span></label>
                            @Html.EditorFor(model => model.Data.ApiUser, 
                                new { 
                                    htmlAttributes = new { 
                                        @class = "form-control",
                                        @name = "Data.ApiUser",
                                        @id = "ApiUser",
                                    } 
                                }
                            )
                            @Html.ValidationMessageFor(model => model.Data.ApiUser, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group mb-3">
                            <label for="ApiPass" class="form-label">ApiPass <span class="text-danger">*</span></label>
                            @Html.EditorFor(model => model.Data.ApiPass, 
                                new { 
                                    htmlAttributes = new { 
                                        @class = "form-control",
                                        @name = "Data.ApiPass",
                                        @id = "ApiPass",
                                    } 
                                }
                            )
                            @Html.ValidationMessageFor(model => model.Data.ApiPass, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group mb-3">
                            <label for="UserName" class="form-label">UserName <span class="text-danger">*</span></label>
                            @Html.EditorFor(model => model.Data.UserName, 
                                new { 
                                    htmlAttributes = new { 
                                        @class = "form-control",
                                        @name = "Data.UserName",
                                        @id = "UserName",
                                    } 
                                }
                            )
                            @Html.ValidationMessageFor(model => model.Data.UserName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group mb-3">
                            <label for="DataCoding" class="form-label">DataCoding <span class="text-danger">*</span></label>
                            @Html.EditorFor(model => model.Data.DataCoding, 
                                new { 
                                    htmlAttributes = new { 
                                        @class = "form-control",
                                        @name = "Data.DataCoding",
                                        @id = "DataCoding",
                                    } 
                                }
                            )
                            @Html.ValidationMessageFor(model => model.Data.DataCoding, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group mb-3">
                            <label for="SaleOrderId" class="form-label">SaleOrderId <span class="text-danger">*</span></label>
                            @Html.EditorFor(model => model.Data.SaleOrderId, 
                                new { 
                                    htmlAttributes = new { 
                                        @class = "form-control",
                                        @name = "Data.SaleOrderId",
                                        @id = "SaleOrderId",
                                    } 
                                }
                            )
                            @Html.ValidationMessageFor(model => model.Data.SaleOrderId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
        
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group mb-3">
                            <label for="UrlSms" class="form-label">UrlSms <span class="text-danger">*</span></label>
                            @Html.EditorFor(model => model.Data.UrlSms, 
                                new { 
                                    htmlAttributes = new { 
                                        @class = "form-control",
                                        @name = "Data.UrlSms",
                                        @id = "UrlSms",
                                    } 
                                }
                            )
                            @Html.ValidationMessageFor(model => model.Data.UrlSms, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group mb-3">
                            <label class="form-label">IssEnSms </label>
                            <div class="form-check mt-2">
                                @Html.CheckBoxFor(model => model.Data.IssEnSms, 
                                    new { 
                                        @class = "form-check-input",
                                        @name = "Data.IssEnSms",
                                        @id = "IssEnSms",
                                    } 
                                )
                                <label class="form-check-label" for="IssEnSms">IssEnSms</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group mb-3">
                            <label for="PackageId" class="form-label">PackageId <span class="text-danger">*</span></label>
                            @Html.EditorFor(model => model.Data.PackageId, 
                                new { 
                                    htmlAttributes = new { 
                                        @class = "form-control",
                                        @name = "Data.PackageId",
                                        @id = "PackageId",
                                    } 
                                }
                            )
                            @Html.ValidationMessageFor(model => model.Data.PackageId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group mb-3">
                            <label for="Trangthai" class="form-label">Trạng thái <span class="text-danger">*</span></label>
                            @Html.DropDownListFor(
						        model => model.Data.IsDeleted,
						        Model.SelectLists["statusSelectList"],
						        htmlAttributes: new { @class = "form-select", @name = "Data.IsDeleted", @id = "IsDeleted" }
					        )
                        </div>
                    </div>
                </div>
                
                <div class="row">
                     <div class="form-group mb-3">
                            <label for="Domain" class="form-label">Domain <span class="text-danger">*</span></label>
                            @Html.EditorFor(model => model.Data.Domain, 
                                new { 
                                    htmlAttributes = new { 
                                        @class = "form-control",
                                        @name = "Data.Domain",
                                        @id = "Domain",
                                    } 
                                }
                            )
                            @Html.ValidationMessageFor(model => model.Data.Domain, "", new { @class = "text-danger" })
                        </div>
                </div>	

            }
		</div>
		<div class="modal-footer">
		    <button type="button" class="btn btn-primary" id="btnSave">Lưu</button>
			<button type="button" class="btn btn-secondary" id="btnClose" data-bs-dismiss="modal">Đóng</button>
		</div>
	</div>
</div>
