@model VnptSmsBrandName.ViewModel.BaseFormViewModel<VnptSmsBrandName.Models.Master.MGroup>

<div class="modal-dialog modal-dialog-centered modal-lg">
	<div class="modal-content">
		<div class="modal-header">
			<h1 class="modal-title fs-5" id="data-form-header"></h1>
			<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		</div>
		<div class="modal-body">
			<!-- Form thêm/sửa -->
			@using (Html.BeginForm("", "", FormMethod.Post, new { id = "groupForm" }))
			{
				@Html.AntiForgeryToken()
				@Html.HiddenFor(model => model.Data.IdGroup, new { id = "IdGroup" })
				@Html.HiddenFor(model => model.Data.IdOrganization, new { id = "IdOrganization" })
				@Html.HiddenFor(model => model.Data.CreateBy, new { id = "CreateBy" })
				@Html.HiddenFor(model => model.Data.CreateAt, new { id = "CreateAt" })
				<div class="row">
					<div class="col-md-6">
						<div class="form-group mb-3">
							<label for="Name" class="form-label">Tên nhóm <span class="text-danger">*</span></label>
							@Html.EditorFor(model => model.Data.Name, 
								new { 
									htmlAttributes = new { 
										@class = "form-control", 
										@name = "Data.Name",
										@id = "Name",
										@placeholder = "Nhập tên nhóm"
									} 
								}
							)
							@Html.ValidationMessageFor(model => model.Data.Name, "", new { @class = "text-danger" })
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group mb-3">
							<label for="IdGroupParent" class="form-label">Nhóm cha</label>
							@Html.DropDownListFor(
								model => model.Data.IdGroupParent,
								Model.SelectLists["mGroupSelectList"],
								"--Chọn nhóm cha--",
								htmlAttributes: new { @class = "form-select", @name = "Data.IdGroupParent", @id = "IdGroupParent" }
							)
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group mb-3">
							<label for="IsDeleted" class="form-label">Trạng thái <span class="text-danger">*</span></label>
							@Html.DropDownListFor(
								model => model.Data.IsDeleted,
								Model.SelectLists["statusSelectList"],
								htmlAttributes: new { @class = "form-select", @name = "Data.IsDeleted", @id = "IsDeleted" }
							)
						</div>
					</div>
				</div>
			}
		</div>
		<div class="modal-footer">
		    <button type="button" class="btn btn-primary" id="btnSave">Lưu</button>
			<button type="button" class="btn btn-secondary" id="btnClose" data-bs-dismiss="modal">Đóng</button>
		</div>
	</div>
</div>
